{% extends 'base.html' %} 
{% load static %}
 
{% block head %}
<link rel="stylesheet" href="{% static 'css/form.css' %}" />
{% endblock %}

{% block content %}
<div class="page-header">
  <h1>Sign Up</h1>
  <img src="{% static 'images/' %}" alt="" />
</div>

{% if error_message %}
  <p class="red-text">{{ error_message }}</p>
{% endif %}

<form action="{% url 'signup' %}" method="post" class="form-container" autocomplete="off">
    {% csrf_token %}

    {% if error_message %}
        <p class="red-text">{{ error_message }}</p>
    {% endif %}

    {{ form.errors }}

    <table>
        {{ form.as_table }}
    </table>

    <button type="submit" class="btn submit">Sign Up!</button>
</form>

{% endblock %}
